body {
    background-color: rgb(148, 145, 145);
}

.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background: ghostwhite;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    height: 2rem;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.subtitulo {
    text-align: center;
}

.seccion {
    background-color: ghostwhite;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 400px;
}

span {
    color: rgb(209, 14, 112);
    font-weight: bold;
}

#imagen {
    text-align: center;
}

#imagen img {
    width: 430px;
    height: auto;
}

.titulo_imagen {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: small;
    margin-top: 0;
    font-weight: 200;
    font-style: italic;
}

#tabla th {
    border: solid 1px black;
    border-radius: 3px;
    padding: 1rem;
    background: rgb(33, 70, 151);
    color: rgb(121, 221, 235);
}

#tabla td {
    border: solid 1px black;
    border-radius: 3px;
    padding: 1rem;
}