/* Estilos del Reto 2. Sitio Web */

body {
    background-color: rgb(203, 205, 206);
}

.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background: ghostwhite;
    padding: 3rem;
    border-radius: 8px;
    text-align: center;
    height: 2rem;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 420px;
    border: solid 1px rgb(167, 167, 180);
}

.subtitulo {
    text-align: center;
}

.seccion {
    background-color: ghostwhite;
    padding: 3rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 400px;
    border: solid 1px rgb(167, 167, 180);
}

span {
    color: rgb(209, 14, 112);
    font-weight: bold;
}

#imagen {
    text-align: center;
}

#imagen img {
    width: 400px;
    height: auto;
}

.titulo_imagen {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: small;
    margin-top: 0;
    font-weight: 200;
    font-style: italic;
}

#tabla th {
    border: solid 1px black;
    border-radius: 3px;
    padding: 1rem;
    background: rgb(33, 70, 151);
    color: rgb(121, 221, 235);
}

#tabla td {
    border: solid 1px black;
    border-radius: 3px;
    padding: 1rem;
}

/* Estilos del Reto 3. Formulario */

.formulario {
    max-width: 350px;
    margin: 0 auto;
    text-align: left;
}

.formulario ul{
    list-style: none;
    padding: 0;
}

.formulario li {
    margin-bottom: 16px;
}

.titulo_campos {
    font-weight:800;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2e4591;
}

.campos {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    box-sizing: border-box;
}


.formulario textarea {
    height: 100px;
}


.formulario button {
    background-color: #42528a;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: ghostwhite;
}


/* Estilos del Reto 4. Calculadora */

.calculadora {
    text-align: center;
    background-color: rgb(49, 95, 119);
    padding: 2rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border-radius: 8px;
}

.titulo_calculadora {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(194, 240, 240);
}

#pantalla_calculadora {
    width: 218px;
    height: 50px;
    margin: .2rem;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 .5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: rgb(241, 243, 255);
}

.botones {
    text-align: center;
    min-width: 240px;
}

.botones button {
    width: 50px;
    height: 50px;
    margin: .2rem;
    cursor: pointer;
}

#boton_limpiar {
    background-color: rgba(255, 0, 0, 0.726);
    font-size: 16px;
    font-weight: bold;
    color: rgb(226, 220, 220);
}

#resultado {
    width: 230px;
    background-color: rgb(43, 150, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
}


#contenedor {
    margin-top: 20px;
}

.boton_refresh {
    text-align: center;
}

#btnRefrescar {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 30px;
}

.noticia {
    border: 1px solid #ccc;
    padding: 2rem;
    margin-bottom: 15px;
    border-radius: 6px;
    background: #d4dceb;
}

.noticia img {
    max-width: 200px;
}

#error {
    color: red;
    font-weight: bold;
}